<app-navbar></app-navbar>
<div class="container">
    <h1>Min Profil</h1>

    <mat-progress-bar 
    class="example-margin"
    [color]="color"
    [mode]="mode"
    [value]="value">></mat-progress-bar>
    
    <!-- Desktop -->
    <div class="row">
        
        <mat-tab-group class="mat-tab-profile">
            <mat-tab label="Person Data">

                <div *ngIf="!state" class="ng-hide">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="!activation" class="ng-hide"></div>
                        <strong>Hov!</strong> {{activationError}}
                    </div>
                </div>

                <mat-card>
                    <form [formGroup]="personDataForm">
                    <mat-form-field class="block-field">
                            <input matInput id="name" formControlName="firstName" name="firstName" placeholder="Fornavn" type="text" autofocus>
                    </mat-form-field>

                    <mat-form-field>
                            <input matInput id="lastname" formControlName="lastName" name="lastName" placeholder="Efternavn" type="text">
                    </mat-form-field>

                    <mat-form-field class="block-field">
                            <input id="birthday" formControlName="birthday" matInput [matDatepicker]="picker" placeholder="Fødselsdag">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="block-field">
                        <mat-select placeholder="Køn">
                            <mat-option value="Mand">Mand</mat-option>
                            <mat-option value="Kvinde">Kvinde</mat-option>
                            <mat-option value="Ønsker ikke oplyse">Ønsker ikke oplyse</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </form>
                    <mat-card-actions>
                            <button mat-button color="primary" (click)="updatePersonData(personDataForm.value)">Opdater</button>
                    </mat-card-actions>
                </mat-card>
            </mat-tab>

            <mat-tab label="Kontakt">
                
                <div *ngIf="!state" class="ng-hide">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="!activation" class="ng-hide"></div>
                        <strong>Hov!</strong> {{activationError}}
                    </div>
                </div>

                <mat-card>
                    <form [formGroup]="contactForm">
                        <mat-form-field class="block-field">
                            <input matInput matTooltip="8 cifre" type="tel" formControlName="phone" placeholder="Telefon/mobil"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" formControlName="street" class="form-control" id="inputAddress" placeholder="Adresse">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" formControlName="city" class="form-control" id="inputBy" placeholder="By">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text" formControlName="zip" class="form-control" id="inputZip" placeholder="Postnummer">
                        </mat-form-field>
                    </form>
                    <mat-card-actions>
                            <button mat-button color="primary" (click)="updateContact(contactForm.value)">Opdater</button>
                    </mat-card-actions>
                </mat-card>  
            </mat-tab>

            <mat-tab label="Familie">
                <mat-card>
                        <div *ngIf="!state" class="ng-hide">
                                <div class="alert alert-danger" role="alert">
                                    <div *ngIf="!activation" class="ng-hide"></div>
                                    <strong>Hov!</strong> {{activationError}}
                                </div>
                        </div>

                        <form [formGroup]="childrenForm">
                            <mat-form-field class="block-field">
                                <input (keyup)="displayBirthdayInput($event.target.value)" matInput type="number" formControlName="numberOfChildren" placeholder="Antal børn"/>
                            </mat-form-field>

                            <mat-form-field *ngFor="let child of frontEndModellerChildren; let i = index;" class="block-field">
                                <input formControlName="{{child.formControlName}}" matInput [matDatepicker]="i" placeholder="{{child.view}}" [attr.id]="dtPicker + i">
                                <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                                <mat-datepicker #i></mat-datepicker>   
                                       
                            </mat-form-field>


                        </form>
                        
                </mat-card>
            </mat-tab>

            <mat-tab label="Billeder">
                <mat-card>

                    <div *ngIf="!state" class="ng-hide">
                        <div class="alert alert-danger" role="alert">
                            <div *ngIf="!activation" class="ng-hide"></div>
                             <strong>Hov!</strong> {{activationError}}
                        </div>
                    </div>

                    <div *ngIf="!hasImages" class="ng-hide">
                        <div class="alert alert-warning" role="alert">
                            <div *ngIf="!hasImages" class="ng-hide"></div>
                            <strong>Hov!</strong> Der er ingen billeder oploadet.
                        </div>
                    </div>

                    <mat-card>
                       <user-image-gallery></user-image-gallery> 
                    </mat-card>

                    <mat-card>
                        <image-upload></image-upload>
                    </mat-card>
                
                </mat-card>
            </mat-tab>

            <mat-tab label="Indstillinger">
                <mat-card>

                    <div *ngIf="!state" class="ng-hide">
                        <div class="alert alert-danger" role="alert">
                            <div *ngIf="!activation" class="ng-hide"></div>
                            <strong>Hov!</strong> {{activationError}}
                        </div>
                    </div>

                    <form [formGroup]="settingsForm">
                        
                        
                        <mat-label class="block-field">Nye Arrangementer</mat-label>
                        <mat-slide-toggle matInput formControlName="newsletterEvent"
                            (change)="changedNewsEvent()"
                            class="example-margin"
                            color="primary"
                            [checked]="newEvents">{{newEvents ? trueText : falseText}}</mat-slide-toggle>
                        
                            <mat-label class="block-field">Daglige notifikationer</mat-label>
                            <mat-slide-toggle formControlName="newsletterDaily"
                            (change)="changedNewsDaily()"
                            class="example-margin"
                            color="primary"
                            [checked]="newsDaily">{{newsDaily ? trueText : falseText}}</mat-slide-toggle>

                            <mat-label class="block-field">Ugentlige notifikationer</mat-label>
                            <mat-slide-toggle formControlName="newsletterWeekly"
                            (change)="changedNewsWeekly()"
                            class="example-margin"
                            color="primary"
                            [checked]="newsWeekly">{{newsWeekly ? trueText : falseText}}</mat-slide-toggle>
                        
                            <mat-card-actions>
                                <button mat-button color="primary" (click)="updateSettings(settingsForm.value)">Opdater</button>
                            </mat-card-actions>

                    </form>

                </mat-card>
            </mat-tab>

            <mat-tab label="Deaktivering">

                <div *ngIf="!state" class="ng-hide">
                    <div class="alert alert-danger" role="alert">
                        <div *ngIf="!activation" class="ng-hide"></div>
                        <strong>Hov!</strong> {{activationError}}
                    </div>
                </div>

                <mat-card>
                    <h4>Skjul/vis profil</h4>
                    <button (click)="deactivateAccount(!state)" mat-raised-button>{{activationText}}</button>

                    <h4>Slet Profil</h4>
                    <label *ngIf="usernameValidation === this.username"> <strong>Advarsel:</strong> denne handling er permanent. Al credit, fremgang vil blive slettet og kan ikke gøres om</label>
                    <form>
                        <mat-form-field>
                            <input (keyup)="usernameInput($event.target.value)"  matTooltip="Bemærk at du skal tage højde for store og små bogstaver" matInput placeholder="Indtast brugernavn">
                        </mat-form-field>
                        <button *ngIf="usernameValidation === this.username" (click)="deleteAccount()" mat-raised-button color="warn">Slet profil</button>
                    </form>
                    
                </mat-card>
            </mat-tab>


        </mat-tab-group>
    </div>

</div>