<app-navbar></app-navbar>
<div class="container">
    <h1>Mit Dashboard</h1>

    <div class="container">
            <div class="row">
              <div class="col-sm">
                
              </div>
              <div class="col-sm">
                    <img src="./assets/images/400x200profil.png">
                    <img src="./assets/images/400x200events.png">
              </div>
              <div class="col-sm">
                
              </div>
            </div>
          </div>

</div>
