<app-navbar></app-navbar>
<div class="container">
    <h1>Mit Dashboard</h1>

    <div class="container">
            <div class="row">
              <div class="col-sm">
                    <a [routerLink]="['/events']"><img class="responsive" src="./assets/images/400x200events.png"></a>
              </div>
              <div class="col-sm">
                    <a [routerLink]="['/my-profile']"><img class="responsive" src="./assets/images/400x200profil.png"></a>
              </div>
              <div class="col-sm">
                <a [routerLink]="['/my-profile']"><img class="responsive" src="./assets/images/400x200profil.png"></a>
              </div>
            </div>
          </div>

</div>
