mat-form-field {
    width: 100%;
}

mat-paginator {
    margin-bottom: 20px;
}

td {
    font-size: 12px;
}

#search {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
  }

.hide {
    visibility: hidden;
}

h2 {
    color:snow;
    text-align: center;
}

.btnLabel {
    width:100%;
    height: 60px;
    font-size: 1.5rem;
}
  

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
        width: 100%;
    }

    .desktop {
        display:none;
    }

    #search {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 0px;
    }

    mat-paginator {
        margin-bottom: 0px;
    }
}

tr:hover td {
    background:#3f51b51c;
    cursor: pointer;
}

#dateSorter:hover {
    cursor: pointer;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}