:host {
  display: flex;
  color: #011b38;
}

.step-guide {
  width: 400px;
  flex: 0 0 400px;
  margin-right: 20px;
}

::ng-deep .new-event-panel .mat-dialog-container {
  padding: 10px;
  border-radius: 6px;
}

::ng-deep .new-event-panel .mat-dialog-container .mat-grid-tile {
  background: #fffcf8;
  border-radius: 6px;
  border: 1px solid #f5b951;
}

::ng-deep .new-event-panel .mat-dialog-container .mat-figure {
  margin: 0 10px;
}



::ng-deep .new-event-panel .mat-dialog-container .mat-grid-tile .mat-figure {
  position: unset;
}

h2 {
  padding-top: 20px;
  padding-bottom: 80px;
}

.step-guide {
  background: #daedff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #369efc;
}

.normalized-height {
  line-height: 1.5;
}

.presenter {
  height: 100%;
  background-image: url('/assets/images/guide2.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 35%;
  text-align: justify;
}

.step-guide img {
  height: 300px;
}

form {
  width: 100%;
}

.header {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
}

.two-columns{
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  text-align: right;
  font-size: 14px;
  margin-top: 20px;
}

::ng-deep .mat-checkbox-inner-container {
  width: 14px;
  height: 14px;
}

.header fa {
  margin-right: 5px;
}

.mat-card-image {

}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.buttons {
  text-align: right;
  margin-top: 15px;
}

.buttons button {
  margin-left: 10px;
}


::ng-deep .new-event-panel .mat-dialog-container {
  /* background: url(/assets/images/event_placeholder.jpg); */
  /* background-color: rgb(255, 252, 240); */
  background-repeat: no-repeat;
  background-size: 38% 100%;
}

form > mat-form-field {
  margin-bottom: 5px;
}

mat-form-field {
  display: block;
  width: 100%;
}

mal-label {
  color: rgba(0,0,0,.54);
}
