h1 {
    color: snow;
    text-align: center;
}

mat-card {
    margin: 10px;
}

mat-form-field {
    display: block;
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
}

.center {
    text-align: center;
}