/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~firebaseui/dist/firebaseui.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding-top: 0px; 
    background-image: url("./assets/images/intro.png");
    background-size:     cover;                 
    background-repeat:   no-repeat;
    background-position: center center;
 }

 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }

 hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

app-root {
    margin-top: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}