<landing-page-header *ngIf="!displayNavbar"></landing-page-header>
<app-navbar *ngIf="displayNavbar"></app-navbar>

<mat-card>
  <mat-card>
    <h2>Betalingsmuligheder</h2>
    <img src="assets/images/cards.png">
  </mat-card>
  <mat-card>
    <h2>Medlemskab</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Vare </th>
            <td mat-cell *matCellDef="let item"> {{item.name | uppercase }} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Pris </th>
            <td mat-cell *matCellDef="let item"> {{ item.price }},- DKK </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Kategori </th>
            <td mat-cell *matCellDef="let item"> {{item.type | uppercase}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
  </mat-card>
</mat-card>