<app-navbar></app-navbar>
<div class="content-header">
    <h1>Om</h1>
</div>
<div class="container">

    <div class="row">
      <div class="col-sm">
        <h2>Virksomheden</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quam massa, aliquet et luctus nec, sagittis sit amet sem. Phasellus ultrices magna vitae ultricies condimentum. Donec nec fermentum urna, maximus rhoncus ante. Phasellus venenatis a tellus eget fringilla. Praesent semper nunc ut nisl laoreet ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus pharetra mauris, a vestibulum justo aliquam sit amet.</p>
      </div>
      <div class="col-sm">
        <h2>Ejerne</h2>
        <hr>
        <p>Etiam dignissim nec ex vitae auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla urna felis, finibus at dui eu, sollicitudin elementum neque. Donec blandit sapien quis felis vulputate faucibus at vitae urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ullamcorper pulvinar purus, ac mattis eros porttitor vitae. Aenean sodales id massa non ultrices. Mauris condimentum, est a gravida dignissim, lectus ipsum consequat ante, eget fringilla orci sapien sed eros. Aliquam dignissim elementum metus, id accumsan dui lobortis iaculis. Pellentesque a urna diam. Quisque facilisis posuere ultricies.

          </p>
      </div>
      <div class="col-sm">
        <h2>Konceptet</h2>
        <hr>
        <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed lectus neque, consequat non sapien congue, mattis mattis sapien. Fusce suscipit malesuada maximus. Suspendisse non nulla dolor. Nunc ipsum diam, sagittis et tortor vitae, egestas facilisis ex. Sed mattis tincidunt erat quis malesuada. Pellentesque cursus metus nulla, in sodales neque suscipit quis. Duis lacinia rutrum libero id gravida. Vivamus pretium turpis id aliquet commodo. Donec suscipit, mauris at hendrerit pharetra, nisl ante semper lorem, at dignissim velit ex in ante. Quisque bibendum fermentum ex ac blandit. Fusce at elit id tellus condimentum dictum.


        </p>
      </div>
    </div>
  </div>