
<div class="container">

    <div class="row">
        <div class="col-sm">
            <h2 [innerHTML]="'PAGES.ABOUT.IDEAL.HEADLINE' | translate"></h2>
            <hr>
            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.TITLE' | translate">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.ORGANIZER.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.ORGANIZER.CONTENT' | translate"></div>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.PRICE.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.PRICE.CONTENT' | translate"></div>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.LOCATION.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.ORGANIZER_SECTION.LOCATION.CONTENT' | translate"></div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="1">
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.TITLE' | translate">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.PAYMENT.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.PAYMENT.CONTENT' | translate"></div>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.HELPING_HAND.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.HELPING_HAND.CONTENT' | translate"></div>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.RATING.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.RATING.CONTENT' | translate"></div>
                    <h5 [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.ANONYMOUS.TITLE' | translate"></h5>
                    <div [innerHTML]="'PAGES.ABOUT.IDEAL.PARTICIPANT_SECTION.ANONYMOUS.CONTENT' | translate"></div>
                </mat-expansion-panel>

            </mat-accordion>

        </div>

        <div class="col-sm">
            <h2 [innerHTML]="'PAGES.ABOUT.CONCEPT.HEADLINE' | translate"></h2>
            <hr>

            <mat-accordion>
                <mat-expansion-panel [expanded]="1">
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.CONCEPT.START_SECTION.TITLE' | translate"></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="'PAGES.ABOUT.CONCEPT.START_SECTION.CONTENT' | translate"></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.CONCEPT.COMMUNITY_SECTION.TITLE' | translate"></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="'PAGES.ABOUT.CONCEPT.COMMUNITY_SECTION.CONTENT' | translate"></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.CONCEPT.TRANSPARENCY_SECTION.TITLE' | translate"></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="'PAGES.ABOUT.CONCEPT.TRANSPARENCY_SECTION.CONTENT' | translate"></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.CONCEPT.WE_ARE_NOT_SECTION.TITLE' | translate"></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="'PAGES.ABOUT.CONCEPT.WE_ARE_NOT_SECTION.CONTENT' | translate"></div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title [innerHTML]="'PAGES.ABOUT.CONCEPT.US_SECTION.TITLE' | translate"></mat-panel-title>
                    </mat-expansion-panel-header>
                    <div [innerHTML]="'PAGES.ABOUT.CONCEPT.US_SECTION.CONTENT' | translate"></div>
                </mat-expansion-panel>


            </mat-accordion>

        </div>

        <div class="col-sm">
            <h2 [innerHTML]="'PAGES.ABOUT.OWNERS.HEADLINE' | translate"></h2>
            <hr>

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <fa name="user-circle-o"></fa>
                    </div>
                    <mat-card-title [innerHTML]="'PAGES.ABOUT.OWNERS.HENRIK_SECTION.NAME' | translate"></mat-card-title>
                    <mat-card-subtitle [innerHTML]="'PAGES.ABOUT.OWNERS.HENRIK_SECTION.ROLE' | translate"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/Henrik.jpg" alt="Billede af Henrik">
                <mat-card-content>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title [innerHTML]="'PAGES.ABOUT.OWNERS.HENRIK_SECTION.TITLE' | translate"></mat-panel-title>
                            </mat-expansion-panel-header>
                            <div [innerHTML]="'PAGES.ABOUT.OWNERS.HENRIK_SECTION.CONTENT' | translate"></div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <fa name="linkedin-square"></fa>
                    </button>
                    <button mat-button>
                        <fa name="instagram"></fa>
                    </button>
                </mat-card-actions>
            </mat-card>

            <br>

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <fa name="user-circle-o"></fa>
                    </div>
                    <mat-card-title [innerHTML]="'PAGES.ABOUT.OWNERS.DIANA_SECTION.NAME' | translate"></mat-card-title>
                    <mat-card-subtitle [innerHTML]="'PAGES.ABOUT.OWNERS.DIANA_SECTION.ROLE' | translate"></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/diana.jpg" alt="Billede af Diana">
                <mat-card-content>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title [innerHTML]="'PAGES.ABOUT.OWNERS.DIANA_SECTION.TITLE' | translate"></mat-panel-title>
                            </mat-expansion-panel-header>
                            <div [innerHTML]="'PAGES.ABOUT.OWNERS.DIANA_SECTION.CONTENT' | translate"></div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <fa name="linkedin-square"></fa>
                    </button>
                    <button mat-button>
                        <fa name="instagram"></fa>
                    </button>
                </mat-card-actions>
            </mat-card>

        </div>

    </div>
</div>