<landing-page-header *ngIf="!displayNavbar"></landing-page-header>
<app-navbar *ngIf="displayNavbar"></app-navbar>

<div class="container">

    <div class="row">
      <div class="col-sm">
        <h2>Idealet</h2>
        <hr>

        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Den gode arrangør
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h5>Arrangør</h5>
                <p>Som arrangør skal du være opmærksom på, at ting du opfatter som givet kan være svært gennemskueligt for andre. Hvis du inviterer på gåtur i skoven, så skriv gerne om du regner med at folk selv har en drikkedunk/frokost med, og gør også gerne opmærksom på, om du ved at skoven er mudret den dag, så fodtøj bør planlægges derefter. 
                    Ved events hvor du inviterer folk ind i dit hjem, så bør du være tilsvarende omhyggelig med at fortælle om hjemmets muligheder og begrænsninger. Er der f.eks. husdyr i hjemmet, så vil allergikere sætte pris på at vide det. Tilbyder du overnatning i forbindelse med dit arrangement, eller vil du gerne forventningsafstemme at eventet slutter senest kl 23, så er det en rigtigt god ide at skrive det på eventet. 
                    </p>
                <h5>Pris</h5>
                <p>I forhold til beregning af pris på arrangementet, så er hovedreglen, at man fordeler sin kostpris på de invitere, og i øvrigt regner sig selv ind, dvs inviterer du 7 gæster, så dividerer du omkostningen ud på 8 personer. 
                    Man må til en rimelig grænse indregne forbrug af køkkenrulle, sølvpapir, krydderier, m.m. men man må naturligvis ikke få betalt husleje, eller et overdrevet indkøb af varer, der sikrer arrangøren mad 14 dage frem. Det skal selvfølgelig ikke gå så vidt, at man skal dele et overskud på 32kr mellem 8 deltagere, og det er også fint at arrangøren beholder madresterne efter et arrangement, uden at sende hver enkelt deltager hjem med en madpakke, men hovedreglen og princip om at arrangementer ikke må give overskud skal overholdes.
                    </p>
                <h5>Location, location, location</h5>
                <p>Events ude i byen, hvor du er så heldig/dygtig at opnå rabat, da er retningslinjen tilsvarende, at rabatten skal gives videre til deltagerne. Køber du f.eks. en sweetdeal på en bowlingbane, så er det altså sweetdealprisen, og ikke normalprisen, som der skal fordeles blandt deltagerne. </p>
                <p>Ved bådture er det selvfølgelig fint at indregne gebyr for havneplads i fremmede havne man sejler til, brændstofforbrug og sådanne direkte omkostninger, mens det ikke er acceptabelt at indregne inddirekte omkostninger, såsom bådens afskrivninger, løbende service og vedligehold. 
                </p>
                <p>Er du dygtig til at forhandle en rabat hjem, f.eks. hvis du kan fylde en bowlinghal med gæster, så skal rabatten komme deltagerne til gode. 
                  </p>
                <p>Vi ønsker ikke kommercielle arrangementer på siden, hvor medlemmer tjener på andre medlemmer. Er du f.eks. coach eller tilsvarende, så hører dine opslag om coaching sessioner ikke hjemme på siden, med mindre du er under uddannelse, og tilbyder gratis timer til “prøvekaniner”. </p>
                <p>Alle ovenstående regler er naturligvis også udgangspunktet for SingleNs egne events. Vi vil gerne tjene penge på Jeres abonnement, men ikke på jeres deltagelse i vores events! </p>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="1">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Den gode deltager
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h5>Betaling</h5>
        <p>Som deltager på et event, er din første og vigtigste forpligtelse at overholde arrangørens betalingsfrist. Arrangøren lægger en del arbejde i at skabe rammerne for et godt arrangement, og det er ærgerligt, hvis man også skal bruge tid på at rykke for betaling. Så når du melder dig til, så bedes du være opmærksom på at overholde betalingsbetingelserne.</p>

        <h5>En hjælpende hånd</h5>
        <p>Ved deltagelse, så er det super god stil at bidrage undervejs, ikke kun med at hjælpe til med at bære ud, vaske op, rydde af vejen, men også med at skabe den gode stemning, og have en inkluderende tilgang til øvrige deltagere. </p>

        <h5>Rating</h5>
        <p>Efter et events gennemførsel får du en mail med en opfordring til at give en tilbagemelding på arrangementet. Det er hurtigt gjort, og giver dig en mulighed for at sige tak for sidst til arrangøren, der jo som nævnt ofte har brugt en del tid og energi på arrangementet. Derfor vil vil bede dig sådan en tilbagemelding. 
            I de forhåbentligt ganske få tilfælde hvor alt er gået galt, så er det også vigtigt at du sender en vurdering af arrangementet. Men husk på, at det ikke er rimeligt at nedvurdere et arrangent ud fra parametre som arrangøren ikke er herre over, f.eks. Vejret eller DSB :-) 
            </p>
        <h5>Anonymt</h5>
        <p>Vurderingerne er i udgangspunktet anonyme, og sendes i samlet form til arrangøren, så det er kun hvis du sætter dit navn på en kommentar, at arrangøren vil kunne se at en kommentar er fra dig.</p>
      
            </mat-expansion-panel>

        </mat-accordion>
        
      </div>

      <div class="col-sm">
        <h2>Konceptet</h2>
        <hr>

        <mat-accordion>
            <mat-expansion-panel [expanded]="1">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Startskuddet
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>SN startede i foråret 2018, og vi har har gjort det til vores mission, at stille en platform til rådighed, som er med til at facilitere events for singler. SN er for alle singler i alderen 18-99, der ønsker at møde andre singler ved deltagelse i events.</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fællesskab
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>En del af vores koncept er selv at arrangere en hel del events, ikke kun i opstartsfasen, men også fremover. Derudover håber vi på, at mange af jer har lyst til at bidrage til netværket ved at oprette events med spændende alsidige temaer og gode oplevelser til følge. </p>

              </mat-expansion-panel>

    
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      Gennemsigtighed
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>En anden del af vores koncept er, at indtjening udelukkende sker via abonnementsbetaling på sitet. Vi, eller de enkelte arrangører, profiterer ikke på de enkelte events.</p>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    SN er ikke...
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>SN er <strong>ikke</strong> en dating-platform, men vi har omvendt heller ikke nogen planer om at forbyde datinglignende events. Hovedformålet er dog netværksdelen og det at lave events for hinanden.  SN har ikke aktuelle planer om at udvide med debatter, chat- eller dating-elementer. Vi vil gerne bevare fokus på det egentlige - nemlig events der foregår ude i virkeligheden. Sitet er altså blot tænkt som et værktøj til at skabe en kontakt der skal udleves off-line</p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Vi...
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>"Vi ønsker at være med til at skabe nye relationer og gode oplevelser i den virkelige verden." </p>
                  <p>"Vi vil gerne fremme de gode relationsskabende arrangementer, hvilket vi forsøger at gøre ved at belønne de gode arrangører med forskellige fordele." </p>
                  <p>"Vi ønsker at være synlige, og vi er meget ligetil. Vi ser frem til en masse gode oplevelser med jer!" </p>
                  <p>"Så glæd jer til fx Henriks middagssammenkomster og Dianas aktive events!"</p>

                  </mat-expansion-panel>
            

        </mat-accordion>

      </div>

      <div class="col-sm">
          <h2>Ejerne</h2>
          <hr>
  
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"><fa name="user-circle-o"></fa></div>
                <mat-card-title>Henrik</mat-card-title>
                <mat-card-subtitle>Ejer</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/images/Henrik.jpg" alt="Billede af Henrik">
              <mat-card-content>
                  <mat-accordion>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Om
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Henrik er SingleN’s charmerende mesterkok. Henrik laver (uden tvivl!) verdens bedste mormormad, og især hans frikadeller er helt i særklasse. Henrik er typen som sagtens kan starte en diskussion om alle mulige emner, men han snakker også gerne om sit liv, som bl.a. involverer 3 børn i alderen 16, 17 og 23. Derudover sætter Henrik sig flere gange om ugen i stramtsiddende bukser på spinning-cyklen, hvor han nyder at få sveden til at drible ned af sig, alt imens en spinninginstruktør giver skarpe instrukser. Om sommeren huserer han dog også gerne på Amager Fælled på racercyklen.</p> 
                          <p>Henrik er til dagligt teamleder indenfor it-branchen, hvor han jonglerer mellem mange forskellige typer af interessenter. Han er SingleN’s lidt mere introverte type - men lad dig ikke narre :) </p>
                          <p>Henrik vil holde event i SingleN regi, hvor hans events vil tage udgangspunkt i hyggestunder, såsom en god middag, en bowlingtur eller måske en tur på MTB i skoven. </p>
                          <p>Henrik svarer rigtigt gerne på spørgsmål fra medlemmerne via email-adressen: henrik@singlen.dk, men vil selvfølgelig også gerne svare på jeres spørgsmål, når i mødes til events. </p>
                        </mat-expansion-panel>
                  </mat-accordion>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button><fa name="linkedin-square"></fa></button>
                  <button mat-button><fa name="instagram"></fa></button>
              </mat-card-actions>
            </mat-card>
  
            <br>
  
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"><fa name="user-circle-o"></fa></div>
                  <mat-card-title>Diana</mat-card-title>
                  <mat-card-subtitle>Ejer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/diana.jpg" alt="Billede af Diana">
                <mat-card-content>
                  <mat-accordion>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Om
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Diana er SingleN’s ekstroverte smilende energibombe. Diana har sin erhvervserfaring fra it-branchen, hvor hun har haft forskellige data-arkitekt jobs. Privat har Diana en aktiv fritid, hvor hun elsker at rejse, være sammen med familie og venner, dyrke klatring, spille backgammon, gå til koncerter, og i det hele taget være aktiv, og sammen med mennesker så meget som muligt. Diana er et af de mennesker, som ikke kan tage med toget uden at falde i snak med medpassagerne. Hun er åben, imødekommende, og en vaske-ægte ”people person”.</p>
                          <p>Diana vil holde en del arrangementer i SingleN regi, hvor arrangementerne vil tage udgangspunkt i hendes livsstil, så forvent en del aktivitetsbaserede events. </p>
                          <p>Diana svarer rigtigt gerne på spørgsmål fra medlemmerne via email-adressen: diana@singlen.dk, men vil selvfølgelig også gerne svare jeres spørgsmål når i mødes til events </p>
                        </mat-expansion-panel>
                  </mat-accordion>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button><fa name="linkedin-square"></fa></button>
                  <button mat-button><fa name="instagram"></fa></button>
                </mat-card-actions>
              </mat-card>
          
        </div>

    </div>
  </div>