<mat-card>
  <button (click)="openDialog()" mat-raised-button color="warn">Nyt Event</button>

  <button 
    (click)="displayAllEvents()" 
    matTooltip="Kommende events" 
    routerLink="/my-events" 
    [color]="allEventsShown ? 'primary' : ''"
    mat-raised-button>
    Kommende Events
  </button>

  <button 
    (click)="displayMyEventsOnly()" 
    matTooltip="Events som du arrangerer" 
    routerLink="/my-events" 
    [color]="myEventsShown ? 'primary' : ''"
    mat-raised-button>
    Mine Events
  </button>

  <!-- <button
    (click)="displayJoinedEvents()"
    class="lesserBtn" matTooltip="Events, som du har deltaget i" routerLink="/attending-events"
    [color]="joinedEventsShown ? 'primary' : ''"
    mat-raised-button>
    Tilmeldte Events
  </button> -->

  <button
    (click)="displayPastEvents()"
    class="lesserBtn" matTooltip="En liste af de events, som du er tilmeldt" routerLink="/attended-events"
    [color]="pastEventsShown ? 'primary' : ''"
    mat-raised-button>
    Tidligere Events
  </button>

</mat-card>