<mat-card>
  <button (click)="openDialog()" mat-raised-button color="primary">Nyt Event</button>

  <button 
    (click)="displayMyEventsOnly()" 
    matTooltip="Events som du arrangerer" 
    routerLink="/my-events" 
    mat-raised-button color="accent">
      {{myEventsShown ? 'Alle eventer' : 'Mine Eventer'}} 
  </button>

  <button class="lesserBtn" matTooltip="En liste af de events, som du er tilmeldt" routerLink="/attending-events"
    mat-raised-button>Tilmeldte Events</button>

  <button class="lesserBtn" matTooltip="Events, som du har deltaget i" routerLink="/attended-events"
    mat-raised-button>Tidligere Events</button>
</mat-card>