.mobile {
    display:none;
}

.desktop {
    margin-top: 100px;
    margin-bottom: 15px;
}

event-filter {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .mobile {
        padding-top: 55px;
        display: block;
        border: 1px solid black;
    }

    .desktop {
        display:none;
    }
}

.row {
    overflow: hidden;
}