event-control-menu {
    top: 0;
    width: 100%;
}

.mobile {
    display:none;
}


h1 {
    color: snow;
    text-align: center;
}

event-filter {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .mobile {
        display: block;
    }

    .desktop {
        display:none;
    }
}

.row {
    overflow: hidden;
}

.btnLabel {
    width: 100%;
}