<table class="table desktop">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Event</th>
        <th scope="col">By</th>
        <th scope="col">Kønsfordeling</th>
        <th scope="col">Børn</th>
        <th scope="col">Pladser</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let course of coursesObservable | async">
        <td>{{course.title}}</td>
        <td>{{course.by}}</td>
        <td>{{course.genderDistribution}}</td>
        <td>{{course.kidsAllowed}}</td>
        <td *ngIf="course.participants < course.maxParticipants">Ledig</td>
        <td *ngIf="course.participants >= course.maxParticipants">Venteliste</td>
      </tr>
    </tbody>
  </table>

  <table class="table mobile">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Event</th>
          <th scope="col">By</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let course of coursesObservable | async">
          <td>{{course.title}}</td>
          <td>{{course.by}}</td>
        </tr>
      </tbody>
    </table>