<landing-page-header *ngIf="!displayNavbar"></landing-page-header>
<app-navbar *ngIf="displayNavbar"></app-navbar>

<mat-card>
    <h1>Del din historie eller kom med et forslag</h1>
    <mat-card>
        <form id="formRight" [formGroup]="feedbackForm">
            <mat-form-field>
                <mat-label for="name">Navn</mat-label>
                    <input matInput formControlName="name" placeholder="Navn" required>
            </mat-form-field>
                        
            <mat-form-field>
                <mat-label for="email">Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Beskedstype</mat-label>
                        <mat-select (selectionChange)="onItemChange($event.value)" formControlName="type" placeholder="Vælg beskedstype" required>
                            <mat-option value="Forslag">Forslag</mat-option>
                            <mat-option value="Del din historie">Del din historie</mat-option>
                        </mat-select>
                </mat-form-field>

            <mat-form-field *ngIf="isProposal">
                <mat-label>Emne</mat-label>
                    <mat-select formControlName="subject" placeholder="Vælg emne">
                        <mat-option value="option">Andet</mat-option>
                        <mat-option value="option">Design</mat-option>
                        <mat-option value="option">Brugeroplevelse</mat-option>
                        <mat-option value="option">Ny feature</mat-option>
                        <mat-option value="option">Kontrol</mat-option>
                        <mat-option value="option">Pris</mat-option>
                        <mat-option value="option">Belønninger</mat-option>
                        <mat-option value="option">Straf</mat-option>
                    </mat-select>
            </mat-form-field>
                        
            <mat-form-field>
                <mat-label for="message">{{btnText}}</mat-label>
                    <textarea matInput formControlName="details" rows="8" required
                    placeholder="Besked..."></textarea>
            </mat-form-field>
            <button [disabled]="isSendingMsg" (click)="send(feedbackForm.value)" type="submit" mat-raised-button color="primary">{{btnText}}</button>

        </form>
    </mat-card>

</mat-card>