button {
    margin: 10px;
}

mat-card {
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    mat-card {
        width: 100%;
        margin: 0;
    }
}

.lesserBtn {
    font-size: 12px !important;
}