<h1>Nyhedsbrev</h1>
<mat-card>
  <form [formGroup]="newsletterForm">

    <mat-form-field>
      <input matInput formControlName="email" placeholder="email" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="username" placeholder="email" required>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="targetGroup" placeholder="Målgruppe">
          <mat-option value="Alle brugere">Alle brugere</mat-option>
          <mat-option value="Enkelt bruger">Enkelt bruger</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="subject" placeholder="Emne felt">
          <mat-option value="a">a</mat-option>
          <mat-option value="b">b</mat-option>
          <mat-option value="c">c</mat-option>
        </mat-select>
    </mat-form-field>

    <textarea formControlName="text" placeholder="besked" required cols="6"></textarea>
    
    <button mat-raised-button color="primary">Send nyhedsbrev</button>


      

  </form>
</mat-card>
