<app-navbar></app-navbar>
<div class="content-header">
    <h1>Kontakt</h1>
</div>
<div class="container">
  <hr>
    <div class="box">
      <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <div class='details'><h3>Naverland 2, Glostrup</h3></div>
    </div>
    
    <div class="box">
      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
      <div class='details'><h3>+91 9033446195</h3></div>
    </div>
    
    <div class="box">
      <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class='details'><h3>kontakt@singlen.dk</h3></div>
    </div>
</div>

<div class="container">

  <div class="formBox">

      <form>

          <p class="h4 mb-4"><fa name="wpforms"></fa> Kontakt form</p>
      
          <!-- Name -->
          <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Navn">
      
          <!-- Email -->
          <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
      
          <!-- Subject -->
          <label><fa name="tag"></fa> Emne</label>
          <select class="browser-default custom-select mb-4">
              <option value="" disabled>Vælg</option>
              <option value="1" selected>Andet</option>
              <option value="2">Konto</option>
              <option value="3">Tekniske problemer</option>
              <option value="4">Klage</option>
              <option value="4">Anmeld snyd</option>
          </select>
      
          <!-- Message -->
          <div class="form-group">
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="6" placeholder="Besked..."></textarea>
          </div>
      
          <!-- Copy 
          <div class="custom-control custom-checkbox mb-4">
              <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
              <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
          </div> -->
      
          <!-- Send button -->
          <button class="btn btn-info btn-block" type="submit">Send</button>
      
      </form>
      <!-- Default form contact -->

  </div>
  
</div>