.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
  
::ng-deep .cdk-overlay-container {
  z-index: 1100;
}