table {
    width: 100%;
}

h1 {
    text-align: center;
    color: snow;
}

mat-form-field {
    width: 100%;
}

.error {
    width: 100%;
}

tr:hover td {
    background:#3f51b51c;
    cursor: pointer;
}