<app-navbar></app-navbar>
<div class="container">

    <mat-card *ngIf="!isMobile">
        <mat-grid-list cols="3" rowHeight="50px">
            <mat-grid-tile>
                    <h3>Seneste events</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                
            </mat-grid-tile>
            <mat-grid-tile>
                    <h3>Rating af mine events</h3>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="350px">
            <mat-grid-tile>
               <mat-card>
                    <mat-chip-list>
                        <div class="center">
                            <mat-chip (click)="onViewClick(recTile.key)" *ngFor="let recTile of recommendationTiles | slice:-6" color="primary" selected><mat-icon>today</mat-icon>{{recTile.name}}<mat-icon>group</mat-icon>{{recTile.pCount}}</mat-chip>
                        </div>
                    </mat-chip-list>

                    <mat-card-actions>
                        <button routerLink="/events" mat-button color="primary">Se flere</button> 
                    </mat-card-actions>

               </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>

            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-chip-list>
                        <div class="center">
                            <mat-chip *ngFor="let feedback of feedbackTiles" color="accent" selected><mat-icon>today</mat-icon>{{feedback.fk_event}}<mat-icon>thumb_up_alt</mat-icon> + {{feedback.score}}</mat-chip>
                            
                            <mat-card-actions>
                                <button *ngIf="feedbackTiles < 1" mat-button color="warn">Ingen bedømmelser</button>
                            </mat-card-actions>
                        
                        </div>
                    </mat-chip-list>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <mat-card *ngIf="isMobile">
        <mat-chip-list>
            <div class="center">
                <h3>Events: netop nu</h3>
                <mat-chip *ngFor="let recTile of recommendationTiles" color="primary" selected><mat-icon>today</mat-icon>{{recTile.eventName}}<mat-icon>group</mat-icon>{{recTile.participants}}</mat-chip>
            </div>
        </mat-chip-list>
    </mat-card>

    <mat-card *ngIf="isMobile">
        <mat-chip-list>
            <div class="center">
                <h3>Rating af mine events</h3>
                <mat-chip *ngFor="let feedback of feedbackTiles" color="accent" selected><mat-icon>today</mat-icon>{{feedback.fk_event}}<mat-icon>thumb_up_alt</mat-icon> + {{feedback.score}}</mat-chip>
            </div>
        </mat-chip-list>
    </mat-card>

</div>
