<app-navbar></app-navbar>
<div class="container">
    <h1>Mit Dashboard</h1>

    <mat-card>
        <mat-card class="mat-card-menu" *ngFor="let tile of tiles">
            <button class="dashboard-button" mat-button [disabled]="!tile.enabled" routerLink='{{tile.link}}'>{{tile.text}}</button>
        </mat-card>
    </mat-card>

    <mat-card *ngIf="!isMobile">
        <mat-grid-list cols="3" rowHeight="50px">
            <mat-grid-tile>
                    <h3>Events: netop nu</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                
            </mat-grid-tile>
            <mat-grid-tile>
                    <h3>Rating af mine events</h3>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="350px">
            <mat-grid-tile>
               <mat-card>
                    <mat-chip-list>
                        <div class="center">
                            <mat-chip *ngFor="let recTile of recommendationTiles | slice:-6" color="primary" selected><mat-icon>today</mat-icon>{{recTile.name}}<mat-icon>group</mat-icon>{{recTile.pCount}}</mat-chip>
                        </div>
                    </mat-chip-list>
               </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>

            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-chip-list>
                        <div class="center">
                            <mat-chip *ngFor="let feedback of feedbackTiles" color="accent" selected><mat-icon>today</mat-icon>{{feedback.fk_event}}<mat-icon>thumb_up_alt</mat-icon> + {{feedback.score}}</mat-chip>
                        </div>
                    </mat-chip-list>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <mat-card *ngIf="isMobile">
        <mat-chip-list>
            <div class="center">
                <h3>Events: netop nu</h3>
                <mat-chip *ngFor="let recTile of recommendationTiles" color="primary" selected><mat-icon>today</mat-icon>{{recTile.eventName}}<mat-icon>group</mat-icon>{{recTile.participants}}</mat-chip>
            </div>
        </mat-chip-list>
    </mat-card>

    <mat-card *ngIf="isMobile">
        <mat-chip-list>
            <div class="center">
                <h3>Rating af mine events</h3>
                <mat-chip *ngFor="let feedback of feedbackTiles" color="accent" selected><mat-icon>today</mat-icon>{{feedback.fk_event}}<mat-icon>thumb_up_alt</mat-icon> + {{feedback.score}}</mat-chip>
            </div>
        </mat-chip-list>
    </mat-card>

</div>
