h1, h2, h3, h4, h5, p, label {
    color:snow;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    padding: 25px;    
}

#emailHelp {
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}