<landing-page-header></landing-page-header>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Afholdte arrangementer</h2>
        <dummy-list></dummy-list>
      </div>
      <div class="col-sm">
        <create-account-form></create-account-form>
      </div>
      <div class="col-sm">
        <h2 class="display-none">Placeholder</h2>
        <img class="news-graphic" src="./assets/images/300x200.png">
        <a class="btn btn-success">Opret</a>
      </div>
    </div>
  </div>