<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Afholdte arrangementer</h2>
        <dummy-list></dummy-list>
      </div>
      <div class="col-sm">
        <h2>Opret profil</h2>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="email...">
              <small id="emailHelp" class="form-text text-muted">Vi deler aldrig din email. Bruges kun til fortroligt.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="inputName1">Profil navn</label>
                <input type="text" class="form-control" id="inputName1" aria-describedby="emailHelp" placeholder="profil navn...">
            </div>
            <div class="form-group">
                <label for="inputName2">Navn</label>
                <input type="text" class="form-control" id="inputName2" aria-describedby="emailHelp" placeholder="navn...">
            </div>
            <div class="form-group">
                <label for="inputBirthday1">Fødselsdag</label>
                <input type="date" class="form-control" id="inputBirthday1" aria-describedby="emailHelp">
            </div>
            <div class="form-row">
              <div class="col">
                  <label for="inputAddress1">Adresse</label>
                  <input type="text" class="form-control" id="inputAddress1" aria-describedby="emailHelp">
              </div>
              <div class="col">
                  <label for="inputAddress2">Postnummer</label>
                  <input type="text" pattern="[0-9]{4}" title="4 cifre postnummer" class="form-control" id="inputAddress2" aria-describedby="emailHelp">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Opret</button>
          </form>
      </div>
      <div class="col-sm">
        <p>14 dage gratis*</p>
      </div>
    </div>
  </div>