h1, h2, h3, h4, h5 {
    color:snow;
    text-align: center;
    padding: 25px;
}

.news-graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.display-none {
    visibility: hidden;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    margin-bottom: 30px;
    background: #333333;
    border-radius: 30px 30px 30px 30px;
}