<landing-page-header></landing-page-header>
<div class="container">
    <div class="row">
      <div class="col-sm desktop">
        <h2>Events</h2>
        <dummy-list></dummy-list>
      </div>
      <div class="col-sm">
        <create-account-form></create-account-form>
      </div>
      <div class="col-sm desktop">
        <h2>Info grafik</h2>
        <img class="news-graphic" src="./assets/images/400x300.png">
        <button class="btn btn-success">Læs mere</button>
        <div class="pr-container">
            <img class="pr-image" src="./assets/images/tpkoncept.png"/>
        </div>
      </div>
    </div>
  </div>