img {
    max-width:5%;
}

img:hover {
    cursor: pointer;
}

.btn {
    border: 1px solid rgba(0,0,0,0.1);
}

.alert {
    margin-top: 80px;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
}

button {
    margin: 10px;
}