mat-card {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    border-radius: 0px;
    width: 90%;
    height: 60%;
}

mat-form-field {
    margin: 10px;
}

.mobileBtn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    margin-bottom: 20px;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

img {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
} 

div > form {
    margin-top:12.5%;
    display: inline-block;
}

a {
    background-color: transparent;
    border-color: snow;
    color: snow;
}

.col {
    padding: 10px;
    color: snow;
}

.mobile {
    display:none;
}

@media only screen and (max-width: 600px) {

    div .left {
        display:none;
    }

    .mobile {
        display: block;
    }
}