<div *ngIf="!isMobile" class="container">

    <a [routerLink]="['/']"><img class="mobile" src="./assets/images/Logo_white.png"></a>

    <div class="row">
      <div class="col left">
        <a [routerLink]="['/']"><img src="./assets/images/Logo_white.png"></a>
      </div>
      <div *ngIf="!isMobile" class="col right">
        <mat-card>
            <form [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" name="email" matInput placeholder="email" autofocus>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" name="password" matInput placeholder="password" type="password">
                </mat-form-field>
    
                <button (click)="tryLogin(loginForm.value)" mat-raised-button>Login</button>
                <button (click)="tryFacebookLogin()" mat-raised-button color="primary">Login med Facebook</button>
                <button (click)="tryGoogleLogin()" mat-raised-button color="accent">Login med Google</button>
            </form>
        </mat-card>
      </div>
    </div>
</div>

<div *ngIf="isMobile">

  <a [routerLink]="['/']"><img class="mobile" src="./assets/images/Logo_white.png"></a>
  
  <button class="mobileBtn" mat-raised-button (click)="openDialog()">Login</button>
  <button class="mobileBtn" (click)="tryFacebookLogin()" mat-raised-button color="primary">Login med Facebook</button>
  <button class="mobileBtn" (click)="tryGoogleLogin()" mat-raised-button color="accent">Login med Google</button>
      
</div>

<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "square-loader">
</ngx-spinner>