<landing-page-header *ngIf="!displayNavbar"></landing-page-header>
<app-navbar *ngIf="displayNavbar"></app-navbar>

<mat-card>
    <h2 [innerHTML]="'PAGES.PRIVACY_POLICY.TITLE' | translate"></h2>
    <mat-card>
        <h4 [innerHTML]="'COMPANY_DETAILS.NAME' | translate"></h4>
        <div [innerHTML]="'COMPANY_DETAILS.ADDRESS.STREET' | translate"></div>
        <div [innerHTML]="'COMPANY_DETAILS.ADDRESS.CITY' | translate"></div>
        <div [innerHTML]="('COMPANY_DETAILS.PHONE.TEXT' | translate) + ': ' + ('COMPANY_DETAILS.PHONE.VALUE' | translate)"></div>
        <div [innerHTML]="('COMPANY_DETAILS.CVR.TEXT' | translate) + ': ' + ('COMPANY_DETAILS.CVR.VALUE' | translate)"></div>
    </mat-card>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.GENERAL.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.GENERAL.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.SCOPE.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.SCOPE.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.ACCESS.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.ACCESS.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.REGISTRATION.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.REGISTRATION.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.FEES.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.FEES.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.CHANGES.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.CHANGES.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.UNSUBSCRIBE.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.UNSUBSCRIBE.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.PAYMENT.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.PAYMENT.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.CANCELLATION.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.CANCELLATION.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.WARRANTY.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.WARRANTY.CONTENT' | translate"></p>
    <mat-card>
        <h4 [innerHTML]="'COMPANY_DETAILS.NAME' | translate"></h4>
        <div [innerHTML]="'COMPANY_DETAILS.ADDRESS.STREET' | translate"></div>
        <div [innerHTML]="'COMPANY_DETAILS.ADDRESS.CITY' | translate"></div>
        <div [innerHTML]="('COMPANY_DETAILS.PHONE.TEXT' | translate) + ': ' + ('COMPANY_DETAILS.PHONE.VALUE' | translate)"></div>
        <div [innerHTML]="'PAGES.PRIVACY_POLICY.WARRANTY.SUBTEXT' | translate"></div>
    </mat-card>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.PRIVACY.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.PRIVACY.CONTENT' | translate"></p>
    <h3 [innerHTML]="'PAGES.PRIVACY_POLICY.APPEALS.TITLE' | translate"></h3>
    <p [innerHTML]="'PAGES.PRIVACY_POLICY.APPEALS.CONTENT' | translate"></p>
    <mat-card>
        <h4 [innerHTML]="'PAGES.PRIVACY_POLICY.APPEALS.COMPETIITION_CARD.TITLE' | translate"></h4>
        <div [innerHTML]="'PAGES.PRIVACY_POLICY.APPEALS.COMPETIITION_CARD.ADDRESS.STREET' | translate"></div>
        <div [innerHTML]="'PAGES.PRIVACY_POLICY.APPEALS.COMPETIITION_CARD.ADDRESS.CITY' | translate"></div>
        <p [innerHTML]="'PAGES.PRIVACY_POLICY.APPEALS.COMPETIITION_CARD.CONTENT' | translate"></p>
    </mat-card>
</mat-card>