<landing-page-header></landing-page-header>
<mat-card>
  <h2>Handelsbetingelser for SingleNetværket IVS</h2>
  <mat-card>
    <h4>SingleNetværket IVS</h4>
    <p>Valbygårdsvej 44, sttv <br>
        2500 Valby <br>
        TLF: +45 6056 0018 <br>
        CVR: 39557150 <br>
    </p>
  </mat-card>
  <h3>Generelt</h3>
  <p>SingleNetværket IVS stiller et abonnement baseret online tjeneste til rådighed på <a href="http://singlen.dk."><fa name="link"></fa> http://singlen.dk.</a> Vilkårene er gældende mellem den enkelte bruger og SingleNetværket IVS.
      Disse vilkår og betingelser for brug gælder for aftaler mellem SingleNetværket IVS og én fysisk person (herefter “Brugeren”) vedrørende Tjenesten. Kun personer, der er 18 år eller ældre og bor i Danmark, kan indgå en aftale med SingleNetværket IVS vedrørende Tjenesten.
      Disse Betingelser udgør samlet den aftale, der er gældende mellem Brugeren og SingleNetværket IVS.
      For at få adgang til Tjenesten, skal Brugeren læse og acceptere handelsbetingelserne.
  </p>
  <h3>Ydelsens omfang</h3>
  <p>Tjenesten giver Brugeren adgang til SingleNetværket IVS's tjenester bestemt ved bestilling.
  </p>
  <h3>Adgang til tjenesten</h3>
  <p>Brugeren skal for at få adgang til Tjenesten registrere en brugerkonto på portalen.</p>
  <h3>Registrering og brugeradgang
  </h3>
  <p>Brugeren er ansvarlig for at sikre, at de angivne oplysninger er korrekte på registreringstidspunktet. Ved registrering må Brugeren kun give oplysninger vedrørende egne betalings- og kreditkort.
      Ved registrering skal Brugeren angive et brugernavn og et password (herefter “Login Oplysninger”). Brugerens Login Oplysninger er personlige og må ikke bruges af andre med mindre andet er anført på produktet.
      Brugeren skal opbevare Login Oplysningerne på et sikkert sted, således at andre ikke kan få uberettiget adgang til dem. Brugeren er ansvarlig for al brug af sin brugerkonto.
      Hvis Brugeren får mistanke om ulovlig brug af Brugerens Login Oplysninger, skal Brugeren omgående underrette SingleNetværket IVS samt ændre sit password.
  </p>
  <h3>Gebyrer og Betaling</h3>
  <p>Gebyrer for brug af Tjenesten skal betales i henhold til den til enhver tid gældende prisliste, der er tilgængelig på hjemmesiden.
      Betaling for abonnementet sker forud hver måned.
      Brugeren skal udføre betalingen for abonnementet via de af SingleNetværket IVS tilbudte betalingsmidler på hjemmesiden. Brugeren forpligter sig til at underskrive de nødvendige dokumenter, og til ved hver betalingsdato at have tilstrækkelige midler til betaling tilgængelige via det valgte betalingsmiddel.
  </p>
  <h3>Tilpasninger og ændringer</h3>
  <p>SingleNetværket IVS forbeholder sig retten til at ændre gebyret og andre betingelser for Tjenesten. Ændringen skal meddeles til Brugeren senest tredive (30) dage inden ændringen træder i kraft. I tilfælde af sådanne ændringer er Brugeren berettiget til at opsige abonnementet med virkning fra den dag, hvor ændringen træder i kraft. Hvis Brugeren ikke opsiger abonnementet før ændringen træder i kraft, skal det betragtes som accept af ændringen. Ændringer, der er til åbenbar fordel for Brugeren, gælder med det samme uden opsigelsesret for Brugeren.</p>
  <h3>Opsigelse af abonnement</h3>
  <p>Opsigelse af Tjenesten kan ske ved udgang af betalings-perioden på 1 måned fra seneste betaling. For at opsige sin aftale skal man bruge det, på forsiden, angivede link
      eller kontakte SingleNetværket IVS via info@singlen.dk
  </p>
  <h3>Betaling</h3>
  <p>SingleNetværket IVS modtager online betalinger med Dankort, Visa/Dankort, Mastercard.
      Betaling vil først blive trukket på din konto, når den fysiske vare afsendes eller det virtuelle produkt er oprettet med mindre andet er aftalt eller fremgår af din ordre.
      Alle beløb på hjemmesiden er inklusiv moms.
      Hjemmesiden bruger følgende valutaer til prissætning:
      Denmark - Kroner (DKK)
      SingleNetværket IVS benytter en sikker betalingsserver, der krypterer alle oplysninger med SSL protokol hvilket betyder din data er sikker og ikke kan læses af andre udefrakommende.
      SingleNetværket IVS's egen hjemmeside bruger ligeledes kryptering med SSL protokol.
  </p>
  <h3>Fortrydelsesret</h3>
  <p>Der gives 14 dages fuld returret på varer købt på hjemmesiden med mindre andet er aftalt eller fremgår af din ordre.
      Den 14 dags periode starter den dag hvor ordren er leveret.
      Eventuelle returneringsomkostninger afholder du selv.
      Ønske om fortrydelse skal meddeles os senest 14 efter leveringen og være os i hænde seneste 14 dage efter vi er informeret om dit brug af fortrydelsesretten.
      Ønske om brug af fortrydelsesret skal gives sendes på mail info@singlen.dk. I meddelelsen skal der gøres tydeligt opmærksom på dit ønske om brugen af fortrydelsesret.
  </p>
  <h3>Reklamationsret</h3>
  <p>Der gives 2 års reklamationsret på produkter i henhold til den danske købelov. Reklamationsretten gælder for alle fejl i software, materiale og fabrikation.
      Reklamation vedr. fejl og mangler skal meddeles til SingleNetværket IVS i rimelig tid efter varens modtagelse. 
      Her anses max. to måneder som rimelig tid, med mindre andet er aftalt.
      Vi refunderer rimelige fragtomkostninger.
      Reklamationen frafalder ved forkert eller ualmindelig betjening af produktet.
      SingleNetværket IVS dækker returneringsomkostningerne i rimeligt omfang.
      Ved returnering kontaktes virksomheden:
  </p>
  <mat-card>
    <h4>SingleNetværket IVS</h4>
    <p>Valbygårdsvej 44, sttv <br>
        2500 Valby <br>
        TLF: +45 6056 0018 <br>
        Reklamationer modtages ikke hvis disse er sendt på efterkrav.
    </p>
  </mat-card>
  <h3>Kunde- & Privatlivspolitik</h3>
  <p>Vi videresælger ikke personlige oplysninger og videregiver ikke dine personlige oplysninger til andre, de er kun registreret i vores kundekartotek. Du kan til enhver tid få slettet dine oplysninger.
      For at du kan indgå aftale med SingleNetværket IVS, har vi brug for følgende oplysninger:
  </p>
  <ul>
    <li>Navn</li>
    <li>Addresse</li>
    <li>Telefonnummer</li>
    <li>Email addresse</li>
  </ul>
  <p>Vi foretager registreringen af dine personoplysninger med det formål, at kunne levere varen til dig.
      Personoplysningerne registreres hos SingleNetværket IVS og opbevares i op til fem år, hvorefter oplysningerne slettes.
      Når der indsamles personoplysninger via vores hjemmeside, sikrer vi, at det altid sker ved afgivelse af dit udtrykkelige samtykke, således at du er informeret om præcis, hvilke oplysninger, der indsamles og hvorfor.
      Direktøren og de ansatte for SingleNetværket IVS har adgang til de oplysninger, der registreres om dig.
      Den dataansvarlige i SingleNetværket IVS er: Diana Ransgaard Sørensen
      Vi opbevarer og transmitterer ikke kundeoplysninger krypteret.
      Som registreret hos SingleNetværket IVS har du altid ret til at gøre indsigelse mod registreringen. Du har også ret til indsigt i, hvilke oplysninger, der er registreret om dig. Disse rettigheder har du efter Persondataloven og henvendelse i forbindelse hermed rettes til info@singlen.dk.
  </p>
  <h4>Cookies</h4>
  <p>På <a href="http://singlen.dk"><fa name="link"></fa> http://singlen.dk</a> anvendes cookies med det formål at optimere hjemmesiden og dets funktionalitet, og dermed gøre besøget så nemt som muligt for dig.
      Du kan til enhver tid slette cookies fra din computer, se vejledningen på <a href="http://thagaard.org/cookiehandtering"><fa name="link"></fa> thagaard.org/cookiehandtering/.</a>
  </p>
  <h4>Log-statistik</h4>
  <p>Vi bruger en log-statistik på <a href="http://singlen.dk"><fa name="link"></fa> http://singlen.dk</a>, hvilket betyder, at et statistik-system opsamler information, som kan give et statistisk billede af, hvor mange besøgende vi har, hvor de kommer fra og hvor på websitet det forlades mv.
      Logstatistikken anvendes kun med det formål, at optimere SingleNetværket IVS's hjemmeside.
  </p>
  <h3>Klagemuligheder</h3>
  <p>Klager over produkter kan sendes til:</p>
  <mat-card>
    <h4>Konkurrence- og Forbrugerstyrelsens</h4>
    <p>Carl Jacobsens Vej 35 <br>
        2500 Valby <br>
        <a href="http://www.forbrug.dk"><fa name="link"></fa> www.forbrug.dk</a> <br>
        For EU-borgere uden for EU skal klager sendes via EU Kommissionens online klageplatform. <br>
        ec.europa.eu <br>
        Ved klage skal vores email adresse angives: info@singlen.dk samt hjemmesiden du har købt varen på. <br>
        </p>
  </mat-card>
</mat-card>