mat-form-field, mat-label {
    width: 100%;
}

mat-radio-button {
    margin: 5px;
}

form {
    top: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-table {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.label {
  flex: 0 0 20%;
}

.field {
  flex: 0 0 80%;
}

.title-and-category {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
}

::ng-deep .mat-radio-label {
  margin: 0;
}