<mat-card>
  <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="onNextStep($event)">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Hvad & Hvor</ng-template>
        <div class="title-and-category">
          <mat-form-field>
            <input matInput placeholder="Titel" formControlName="eventName" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>
              <fa name="tag"></fa> Kategori
            </mat-label>
            <mat-select formControlName="eventCategory" name="eventCategory" placeholder="Vælg emne" required>
              <mat-option *ngFor="let category of categories" [value]="category.value">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <textarea formControlName="eventDescription" matInput placeholder="Beskrivelse" rows="3"
            matTooltip="Du kan trække nede i højre hjørne for at forstørre tekstfeltet"
            aria-label="Button that displays a tooltip when focused or hovered over"></textarea>
        </mat-form-field>

        <mat-label>
          <fa name="home"></fa> Adresse
        </mat-label>

        <mat-grid-list cols="3" rowHeight="70px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Vej</mat-label>
              <input matInput formControlName="eventLocationStreet" placeholder="Vej" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Post Nr.</mat-label>
              <input (keyup)="lookUpZip($event)" matInput formControlName="eventLocationZip" placeholder="#" required>
              <br>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>By</mat-label>
              <input matInput formControlName="eventLocationCity" placeholder="By" readonly
                matTooltip="Dette felt udfyldes automatisk" [(ngModel)]="apiZipValue">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <edit-event-controls [isValid]="firstFormGroup.valid" [isFirst]="true" (cancel)="onNoClick()"
          (submit)="onSubmitEvent()"></edit-event-controls>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Målgruppe</ng-template>
        <div class="form-table">

          <mat-label class="label">Kønsfordeling</mat-label>

          <mat-radio-group class="field" formControlName="eventGender">
            <mat-radio-button *ngFor="let option of genderOptions" name="eventGender" [value]="option.value">
              {{option.name}}</mat-radio-button>
          </mat-radio-group>

          <mat-label class="label">Børn</mat-label>

          <mat-radio-group class="field" formControlName="eventTargetGroup">
            <mat-radio-button *ngFor="let option of childrenOptions" name="eventTargetGroup" [value]="option.value">
              {{option.name}}</mat-radio-button>
          </mat-radio-group>

          <label class="label">Aldersgruppe</label>
          <mat-grid-list class="field" cols="2" rowHeight=70px>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Fra</mat-label>
                <input matInput type="number" min="1" max="100" formControlName="eventMinAge" placeholder="18">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Til</mat-label>
                <input matInput type="number" min="1" max="100" formControlName="eventMaxAge" placeholder="100" required>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <label class="label" [innerHTML]="'Antal deltagere<br>(inkl dig selv)'"></label>

          <mat-grid-list class="field" cols="2" rowHeight=70px>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Min</mat-label>
                <input matInput type="number" min="1" max="100" formControlName="eventMinGuests" placeholder="2"
                  required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Max</mat-label>
                <input matInput type="number" min="1" max="1000" formControlName="eventMaxGuests" placeholder="500"
                  required>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-label class="label">Tving på venteliste?</mat-label>

          <mat-radio-group class="field" formControlName="eventQueue">
            <mat-radio-button *ngFor="let option of waitingListOptions" name="eventQueue" [value]="option.value">
              {{option.name}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <edit-event-controls [isValid]="secondFormGroup.valid" (cancel)="onNoClick()" (submit)="onSubmitEvent()">
        </edit-event-controls>

      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">

        <ng-template matStepLabel>Tidspunkt</ng-template>

        <div class="form-table">

          <label class="label">Dato for eventet</label>
          <mat-form-field class="field">
            <input [min]="minDate" [max]="maxDate" matTooltip="Klik på kalendar-ikonet for at vælge dato" matInput
              [matDatepicker]="picker" formControlName="eventDate" placeholder="DD/MM/YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <label class="label">Tidspunkt for eventet</label>

          <mat-grid-list class="field" cols="2" rowHeight=70px>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Start</mat-label>
                <input matInput type="time" formControlName="eventStartTime" required>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Slut</mat-label>
                <input matInput type="time" formControlName="eventEndTime" required>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <label class="label">Tilmeldingsfrist</label>

          <mat-form-field class="field">
            <input [min]="minDate" [max]="maxRegistrationDate" matTooltip="Klik på kalendar-ikonet for at vælge dato"
              matInput [matDatepicker]="picker2" formControlName="eventDeadlineDate" placeholder="DD/MM/YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <label class="label">Tilmeldingsfrist</label>

          <mat-form-field class="field">
            <mat-label>Tid</mat-label>
            <input matInput type="time" formControlName="eventDeadlineTime" required>
          </mat-form-field>

        </div>

        <edit-event-controls [isValid]="thirdFormGroup.valid" (cancel)="onNoClick()" (submit)="onSubmitEvent()">
        </edit-event-controls>

      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Pris & Betaling</ng-template>
        <mat-form-field>
          <mat-label>Pris</mat-label>
          <input (keyup)="onPriceEnter($event.target.value)" (change)="onPriceEnter($event.target.value)" type="number"
            matInput placeholder="DKK,-" formControlName="eventPrice">
        </mat-form-field>

        <mat-form-field *ngIf="fourthFormGroup.value.eventPrice">
          <mat-label>
            <fa name="tag"></fa> Betalingsform
          </mat-label>
          <mat-select (selectionChange)="onPaymentOptionChange($event.value)" formControlName="eventPaymentOption"
            name="eventPaymentOption" placeholder="Vælg emne">
            <mat-option value="Kontant">Kontant</mat-option>
            <mat-option value="Mobilepay">Mobilepay</mat-option>
            <mat-option value="Bankoverførelse">Bankoverførelse</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="transfer-payment"
          *ngIf="fourthFormGroup.value.eventPrice && fourthFormGroup.value.eventPaymentOption && fourthFormGroup.value.eventPaymentOption != 'Kontant'">
          <mat-form-field>
            <mat-label>
              <fa name="tag"></fa> Hvornår betales der
            </mat-label>
            <mat-select (selectionChange)="onWhenPayChange($event.value)" name="eventPaymentDue"
              formControlName="eventPaymentDue" placeholder="Vælg emne">
              <mat-option value="Efter en gæst tilmelder sig">Efter en gæst tilmelder sig</mat-option>
              <mat-option hidden value="Kontant ved ankomst på dagen">Kontant ved ankomst på dagen</mat-option>
              <mat-option value="Dato">Dato</mat-option>
            </mat-select>
          </mat-form-field>

          <label
            *ngIf="fourthFormGroup.value.eventPaymentOption == 'Mobilepay'">Mobilepay</label>
          <br>
          <mat-form-field
            *ngIf="fourthFormGroup.value.eventPaymentOption == 'Mobilepay'">
            <input (change)="phoneValidation($event.target.value)" matInput formControlName="eventMobilePayNumber"
              pattern="[0-9]*" placeholder="Mobilnummer">
          </mat-form-field>

          <label
            *ngIf="fourthFormGroup.value.eventPaymentOption == 'Bankoverførelse'">Kontonummer</label>
          <br>
          <mat-form-field
            *ngIf="fourthFormGroup.value.eventPaymentOption == 'Bankoverførelse'">
            <input (change)="accountNumberValidation($event.target.value)" matInput formControlName="eventAccountNumber"
              pattern="[0-9]" placeholder="Kontonummer">
          </mat-form-field>

          <label *ngIf="fourthFormGroup.value.eventPaymentDue == 'Dato'">Dato for betaling</label> <br>
          <mat-form-field *ngIf="fourthFormGroup.value.eventPaymentDue == 'Dato'">
            <input [min]="minDate" [max]="maxRegistrationDate" matInput [matDatepicker]="picker" formControlName="eventPaymentDate" placeholder="DD/MM/YYYY">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <edit-event-controls [isValid]="fourthFormGroup.valid" (cancel)="onNoClick()" (submit)="onSubmitEvent()">
        </edit-event-controls>
      </form>
    </mat-step>

    <mat-step [stepControl]="fifthFormGroup" *ngIf="false">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Billede</ng-template>
        <mat-card>
          <label>Fil</label>
          <input type="file" formControlName="eventFile" matTooltip="Dette felt er valgfrit">
        </mat-card>
      </form>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Godkend</ng-template>
      Du er nu færdig.
      <mat-card *ngIf="isPreviewing">
        <div *ngFor="let preview of previews">
          <h5>{{preview.label}}</h5>
          <p>{{preview.body}}</p>
        </div>
      </mat-card>
      <edit-event-controls [isValid]="true" [isLast]="true" (cancel)="onNoClick()" (submit)="onSubmitEvent()">
      </edit-event-controls>
    </mat-step>
  </mat-horizontal-stepper>


</mat-card>


<!--
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><fa name="calendar"></fa> Nyt Event</legend>
                <form [formGroup]="eventForm" action="#" method="post" class="form" role="form">

                <input formControlName="eventName" class="form-control" name="eventName" placeholder="Navnet på eventet" type="text" />
                
                <textarea formControlName="eventDescription" name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Beskrivelse"></textarea>
                
                <label for="eventDate">
                Dato start</label>
                <input formControlName="eventDate" class="form-control" name="eventDate" type="date"/>
                
                <label for="eventStartTime">
                  Tidspunkt
                </label>
                <div class="row">
                    <div class="col-xs-4 col-md-6">
                        <input formControlName="eventStartTime" type="time" class="form-control" name="eventStartTime"/>
                    </div>

                    <div class="col-xs-4 col-md-6">
                        <input formControlName="eventEndTime" type="time" class="form-control" name="eventEndTime"/>
                    </div>
                </div>
                
                <label>Kategori</label>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <select formControlName="eventCategory" class="form-control">
                            <option value="Kategori">Vælg</option>
                            <option value="Kategori">Hjemmehygge</option>
                            <option value="Kategori">Fest i privathjem</option>
                            <option value="Kategori">Fest uden for privaten</option>
                            <option value="Kategori">For børn</option>
                            <option value="Kategori">Spis sammen på restaurant</option>
                            <option value="Kategori">Biograf</option>
                            <option value="Kategori">Naturoplevelse</option>
                            <option value="Kategori">Ferie</option>
                            <option value="Kategori">Koncert</option>
                            <option value="Kategori">Kultur</option>
                            <option value="Kategori">Sport</option>
                        </select>
                    </div>    
                </div>
                
                <label>Målgruppe</label>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-check form-check-inline">
                          <input formControlName="eventTargetGroup" class="form-check-input" type="radio" id="childrenRadio1" name="eventTargetGroup" value="Kun med børn" checked>
                          <label class="form-check-label" for="childrenRadio1">Kun med børn</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input formControlName="eventTargetGroup" class="form-check-input" type="radio" id="childrenRadio2" name="eventTargetGroup" value="Kun uden børn">
                          <label class="form-check-label" for="childrenRadio2">Kun uden børn</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input formControlName="eventTargetGroup" class="form-check-input" type="radio" id="childrenRadio3" name="eventTargetGroup" value="Børn velkomne">
                          <label class="form-check-label" for="childrenRadio3">Børn velkomne</label>
                      </div>
                    </div>    
                </div>
                
                <label>Aldersgruppe</label>
                <div class="form-row">
                      <div class="form-group col-md-2">
                          
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-check-label" for="minAge">Fra</label>
                          <input formControlName="eventMinAge" type="number" id="minAge" name="minage" placeholder="18"/>
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-check-label" for="maxAge">Til</label>
                          <input formControlName="eventMaxAge" type="number" id="maxAge" name="maxage" placeholder="100"/>
                      </div>
                      <div class="form-group col-md-1">
                          
                      </div>
                </div>

                <label for="eventFile">
                    Billede</label>
                <div>
                    <input formControlName="eventFile" type="file" id="eventFile" name="myfile"/>
                </div>

                <label for="eventDate">Rating</label>
                <input formControlName="eventHostRating" class="form-control" name="eventDate" type="text" placeholder="2.3" readonly/>

                <label>Antal gæster</label>
                <div class="form-row">
                      <div class="form-group col-md-2">
                          
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-check-label" for="minGuests">Min</label>
                          <input formControlName="eventMinGuests" type="number" id="minGuests" name="minguests" placeholder="2"/>
                      </div>
                      <div class="form-group col-md-4">
                          <label class="form-check-label" for="maxGuests">Max</label>
                          <input formControlName="eventMaxGuests" type="number" id="maxGuests" name="maxguests" placeholder="500"/>
                      </div>
                      <div class="form-group col-md-1">
                          
                      </div>
                </div>

                <label>Deltagerfordeling</label>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-check form-check-inline">
                          <input formControlName="eventGender" class="form-check-input" type="radio" id="genderRadio1" name="eventGender" value="50/50" checked>
                          <label class="form-check-label" for="genderRadio1">50/50</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input formControlName="eventGender" class="form-check-input" type="radio" id="genderRadio2" name="eventGender" value="Kun for mænd">
                          <label class="form-check-label" for="genderRadio2">Kun for mænd</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input formControlName="eventGender" class="form-check-input" type="radio" id="genderRadio3" name="eventGender" value="Kun for kvinder">
                          <label class="form-check-label" for="genderRadio3">Kun for kvinder</label>
                      </div>
                    </div>    
                </div>

                <label>Tving på venteliste</label>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-check form-check-inline">
                          <input formControlName="eventQueue" class="form-check-input" type="radio" id="queueYes" name="eventQueue" value="ja">
                          <label class="form-check-label" for="queueYes">Ja</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input formControlName="eventQueue" class="form-check-input" type="radio" id="queueNo" name="eventQueue" value="nej" checked>
                          <label class="form-check-label" for="queueNo">Nej</label>
                      </div>
                    </div>    
                </div>
                

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="addressRoad">Vej</label>
                      <input formControlName="eventLocationStreet" type="text" class="form-control" id="addressRoad" placeholder="Vej" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="addressCity">By</label>
                      <input formControlName="eventLocationCity" type="text" class="form-control" id="addressCity" placeholder="By" readonly>
                      <div class="invalid-feedback">
                        Please provide a valid state.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="addressZip">Post</label>
                      <input formControlName="eventLocationZip" type="text" class="form-control" id="addressZip" placeholder="Post" required>
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                  </div>

                  <label>Tilmeldingsfrist</label>
                  <div class="form-row">
                        <div class="form-group col-md-2">
                            
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-check-label" for="deadlineDate">Dato</label>
                            <input formControlName="eventDeadlineDate" type="date" id="deadlineDate" name="deadlinedate"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-check-label" for="deadlineTime">Tid</label>
                            <input formControlName="eventDeadlineTime" type="time" id="deadlineTime" name="deadlinetime"/>
                        </div>
                        <div class="form-group col-md-1">
                            
                        </div>
                  </div>


                <label for="eventDate">
                    Pris per person i DKK</label>
                <input formControlName="eventPrice" class="form-control" name="eventDate" type="number" placeholder="0"/>

                <label>Betalingsform</label>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <select formControlName="eventPaymentOption" class="form-control">
                                <option value="Kategori">Ingen</option>
                                <option value="Kategori">Kontant</option>
                                <option value="Kategori">Mobilepay</option>
                                <option value="Kategori">Bankoverførelse</option>
                            </select>
                        </div>    
                    </div>

                    <label>Betalingsfrist</label>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <select formControlName="eventPaymentDue" class="form-control">
                                <option value="Kategori">Ingen</option>
                                <option value="Kategori">Betaling ved tilmelding</option>
                                <option value="Kategori">Kontant ved ankomst</option>
                                <option value="Kategori">Dato</option>
                            </select>
                        </div>    
                    </div>

                <label for="eventPaymentDate">
                    Betalingsfrist</label>
                <input formControlName="eventPaymentDate" class="form-control" name="eventDate" type="date"/>

                <button (click)="onSubmitEvent(eventForm.value)" class="btn btn-lg btn-primary btn-block" type="submit">
                    Opret event</button>
                </form>
            </div>
        </div>
    -->