h2 {
    text-align: center;
    color: snow;
}

mat-paginator {
    margin-bottom: 20px;
}

td {
    font-size: 12px;
}

#search {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

table {
    width: 100%;
  }

.hide {
    visibility: hidden;
}

tr:hover td {
    background:#3f51b51c;
    cursor: pointer;
}
