<landing-page-header></landing-page-header>
<h1>Patch Notes</h1>
<mat-card>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            05/10-2018
          </mat-panel-title>
          <mat-panel-description>
            Titel
          </mat-panel-description>
        </mat-expansion-panel-header>

        <h4>Betalingsflow</h4>
        <p>Der er oprettet et element i menuen, hvor brugere kan betale, hvor PensoPay kan se hvordan flowet er.</p>
        <h4>Forbedret sikkerhed</h4>
        <p>Der er brugt tid på at forbedre login og autorisering.</p>
        <h4>Responsive design forbedringer</h4>
        <p>Vi har forbedret det responsive design så det er mere mobil venligt</p>
        <h4>Navigations menu opdateringer</h4>
        <p>Der er kommet nye felter i menuen, inklusiv rating. </p>
        <h4>Dashboard opdateringer</h4>
        <p>Nye events bliver vist i dashboard inklusive rating af værtens arrangementer.</p>
        <h4>HTML opdateringer</h4>
        <p>Deaktivering/aktivering af profil og sletning. Advarsels tekst m.fl.</p>

      </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            28/09-2018
          </mat-panel-title>
          <mat-panel-description>
            Events genbesøgt
          </mat-panel-description>
        </mat-expansion-panel-header>

        <h4>Opret et event</h4>
        <p>Der kan oprettes events og disse kan findes i tabellen over alle events.</p>
        <h4>Det enkelte Events</h4>
        <p>Det er muligt at klikke på de enkelte events og komme ind på siden på dennes side, hvor der kan læses detaljer, se mødelister osv.</p>
        <h4>Tilmelding/framelding</h4>
        <p>Brugere kan tilmelde sig events og framelde sig events</p>
        <h4>Rating</h4>
        <p>Inde på de enkelte events kan brugere nu bedømme et arrangement. Der gives en score fra 1-5 og værtens totale score beregnes ved hver bedømmelse.</p>
        <p>*En score gives for det enkelte event. En brugeres score er den totale sum af alle hans/hendes arrangementer / n, hvor n er antallet.</p>
        <h4>Slette et event</h4>
        <p>Der er nu muligt at slette sine egne arrangementer.</p>

      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              21/09-2018
            </mat-panel-title>
            <mat-panel-description>
              Social login & event redigering 
            </mat-panel-description>
          </mat-expansion-panel-header>

        <h4>Social Login</h4>
        <p>Det er nu muligt at logge ind med Google/Facebook (og stadigvæk med oprettet konto email+password)</p>
        <h4>Mine events</h4>
        <p>Brugeren kan se en liste over de events, som kan selv er arrangør for.</p>
        <h4>Mit event</h4>
        <p>Ved at klikke på et event i listen over sine events, kan brugeren redigere eget event.</p>
        <h4>Filtre</h4>
        <p>Filtrene i filtervinduet virker nu på tabellen og der er kommet en ekstra indstilling: kategori</p>
        <h4>HTML rettelser</h4>
        <p>Footer opdateret, fyldtekst opdateret, favicon, responsive design problemer rettet</p>
        
      </mat-expansion-panel>

        <mat-card-actions>
          <a href="https://www.fenrirgamestudio.dk" mat-button>FENRIR GAME STUDIO</a>
        </mat-card-actions>
          
</mat-card>

