h1, h2, h3, h4, h5 {
    text-align: center;
}

.promotionText {
    font-size: 14px;
}

.display-none {
    visibility: hidden;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.container {
    margin-bottom: 30px;
}

mat-card {
    border-radius: 0px;
}

.pr-image {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    mat-card {
        border-radius: 0px;
    }
}