<cookies-consent></cookies-consent>
<landing-page-header></landing-page-header>
<div class="container">
  <mat-card>
      <div class="row">
          <div class="col-sm desktop">
            <h2>Events</h2>
            <dummy-list></dummy-list>
          </div>
          <div class="col-sm">
            <h2>Opret Profil</h2>
            <create-account-form></create-account-form>
          </div>
          <div class="col-sm desktop">
            <h2>Info grafik</h2>
            <img class="news-graphic" src="./assets/images/400x300.png">
            <button mat-raised-button>Læs mere</button>
            <div class="pr-container">
                <img class="pr-image" src="./assets/images/tpkoncept.png"/>
            </div>
          </div>
        </div>
  </mat-card>
</div>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "square-loader">
</ngx-spinner>