h1, h2, h3, h4, h5 {
    text-align: center;

}

h1 {
    font-size: 4rem;
    color: #fffeFd;
}

h3 {
    font-size: 2.5rem;
    color: #fffeFd;
}

.join-container {
    position: relative;
    height: 460px;
    overflow: hidden;
}

.join-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.join-button {
    background: #FA8072;
    color: #fffeFd;
    padding: 10px 60px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    margin: 50px auto;
}

.events {
    margin: 100px 0;
}

.join-container video {
    transform: translateY(-30%);
    width: 100%;
}

.promotionText {
    font-size: 14px;
}

.display-none {
    visibility: hidden;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.container {
    margin-bottom: 30px;
}

mat-card {
    border-radius: 0px;
}

.pr-image {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    mat-card {
        border-radius: 0px;
    }
}