:host {
    text-align: center;
}

.container {
    width: 600px;
    margin: auto;
    background: #fff9eda6;
    padding: 30px;
    border-radius: 10px;
}

ul {
    text-align: left; 
}

.hyperlink {
    color: #3f51b5;
    cursor: pointer;
}