img {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

div > form {
    margin-top:12.5%;
    display: inline-block;
}

button {
    background-color: transparent;
    border-color: snow;
    color: snow;
}

div {
    text-align:center;
}