img {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

div > input {
    width:40%;
}

div > form {
    margin-top:12.5%;
}

button {
    background-color: transparent;
    border-color: snow;
    color: snow;
}