.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.controls button { 
  width: 120px;
}

.controls button.prev, .controls button.save{ 
  margin-right: auto;
}

.controls button.canc, .controls button.next{ 
  margin-left: auto;
}

.controls button.canc{ 
  margin-right: 10px;
}

.controls button.save{ 
  margin-left: 10px;
}